<div class="app-window">
  <div class="control-box">
    <div class="title">RPC Consulting LLP</div>
  </div>
  <div class="sd-window">
    <div class="doc-window">
      <div class="doc">
        <h1>Actuarial calculation</h1>
        <fieldset class="form">
          <md-form-field class="full-width">
            <input mdInput placeholder="Main Limit (£)" type="number" [formControl]="mainLimitControl" />
            <md-hint align="start"><strong>Value must be greater than zero</strong></md-hint>
          </md-form-field>
          <md-form-field class="full-width">
              <input mdInput placeholder="Main Retention (£)" type="number" [formControl]="mainRetentionControl" />
              <md-hint align="start"><strong>Value must be greater than zero</strong></md-hint>
          </md-form-field>
          <h3>Caculation type:</h3>
          <div class="form-row">
            <md-radio-group [(ngModel)]="calculationType">
              <md-radio-button value="simple">Simple</md-radio-button>
              <md-radio-button value="complex">Complex</md-radio-button>
            </md-radio-group>
          </div>
          <div class="button-wrapper">
            <button md-raised-button [disabled]="!formIsValid()" (click)="calculate()">Calculate</button>
          </div>
          <div class="load-overlay" *ngIf="calculating"><div class="text">Loading...</div><md-progress-bar mode="indeterminate"></md-progress-bar></div>
        </fieldset>

        <div class="table-container mat-elevation-z1" *ngIf="hasResults">
            <cdk-table #table [dataSource]="dataSource" class="table">
              <ng-container cdkColumnDef="date">
                <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Reference date </cdk-header-cell>
                <cdk-cell *cdkCellDef="let row" class="cell"> {{row.date | date:'dd MMM yyyy'}} </cdk-cell>
              </ng-container>
              <ng-container cdkColumnDef="benchmark1">
                <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Benchmark 1 </cdk-header-cell>
                <cdk-cell *cdkCellDef="let row" class="cell"> {{row.benchmark1 | number:'1.2-2'}}% </cdk-cell>
              </ng-container>
              <ng-container cdkColumnDef="benchmark2">
                <cdk-header-cell *cdkHeaderCellDef class="header-cell"> Benchmark 2 </cdk-header-cell>
                <cdk-cell *cdkCellDef="let row" class="cell"> {{row.benchmark2 | number:'1.2-2'}}% </cdk-cell>
              </ng-container>
              <cdk-header-row *cdkHeaderRowDef="['date', 'benchmark1', 'benchmark2']" class="header-row"></cdk-header-row>
              <cdk-row *cdkRowDef="let row; columns: ['date', 'benchmark1', 'benchmark2'];" class="row"></cdk-row>
            </cdk-table>
          </div>
      </div>
    </div>
  </div>
</div>


